.contact-container {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
  min-height: 100vh;
  padding: 70px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

.contact-form label {
  text-align: left;
  font-weight: 500;
  margin-bottom: 5px;
  color: #f5f5f5;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #2a2a2a;
  color: #fff;
  transition: 0.3s;
}

.contact-form input[type="number"] {
  width: 100px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #d4af37;
  box-shadow: 0 0 5px rgba(212, 175, 55, 0.6);
}


.contact-form input:hover,
.contact-form textarea:hover {
  border-color: #d4af37;
}


.contact-form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #d4af37;
  background-color: transparent;
  color: #d4af37;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}


.contact-form button:hover {
  background-color: #d4af37;
  color: #000;
}
