.gallery-container {
  background-color: #1a1a1a;
  padding: 20px;
  text-align: center;
}

.gallery-container h1 {
    margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #d4af37;
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
  justify-content: center;
}

.gallery-item {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
